@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Loved+by+the+King|Nothing+You+Could+Do|Reenie+Beanie|Waiting+for+the+Sunrise');

html {
  /*background: url(https://atmospheria.files.wordpress.com/2016/10/img_20161006_104449982.jpg) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header {
  height: 50px;
  width: 100%;
  color: #fff;
  background-color: purple;
  border-bottom: 3px black solid;
  position: fixed;
  z-index: 100;
  font-size: 0.9em;
  opacity: .75;
}

#header #navbar-full a {
  color: #fff;
  text-decoration: none;
}

#header a .details {
  display:none;
}

#header #navbar-full a:hover {
  color: lightgrey;
}

#header a:hover i.has-details {
  display:none;
}

#header a:hover .details {
  display: inline;
}

#header p {
  /*padding: 5px 5px 5px 75px;*/
  display: inline-block;
  padding-left: 5px;
}

/* mobile navbar */
#navbar-full {
  display: inline-block;
}

#navbar-mobile { display: none; }
ul.navbar-mobile { display: none; }
@media all and (max-width: 600px) {
  #navbar-mobile {
    display: block;
  }
  div#navbar-full {
    display: none;
  }
}

#navbar-mobile {
  float: right;
  padding-right: 10px;
  padding-top: 7px;
  font-size: 35px;
  cursor: pointer;
}

ul.navbar-mobile li i {
  width: 32px;
}

ul.navbar-mobile {
  list-style: none;
  background-color: #fff;
  padding: 0;
  margin: 0;
  color: #000;
  position: absolute;
  right: 0;
  top: 50px;
  font-size: 24px;
  line-height: 36px;
}

ul.navbar-mobile a {
  text-decoration: none;
  color: #000;
}

ul.navbar-mobile li {
  border: 1px black solid;
  padding: 0 10px;
  cursor: pointer;
}

#caption {
  /*font-family: 'Reenie Beanie', cursive;*/
  /*font-family: 'Amatic SC', cursive;*/
  font-family: 'Nothing You Could Do', cursive;
  /*font-family: 'Waiting for the Sunrise', cursive;*/
  /*font-family: 'Loved by the King', cursive;*/

  /*font-size: 1.2em;*/

  background-color: #fff;
  color: #000;

  padding: 7px 10px;
  position: absolute;
  bottom: 25px;
  left: 25px;
  opacity: .75;
}

#caption a {
  color: gray;
  text-decoration: none !important;
}

#caption a:hover {
  color: black;
}

/* polaroid experiment
.container {
  text-align: center;
  padding-top: 100px;
}

#cloud-photo {
  width: 250px;
  height: 275px;
  background-color: #fff;
  border: 10px white solid;
  border-bottom: 40px white solid;
  text-align: center;
  display: inline-block;

  -ms-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
  display: none;
}

#cloud-photo img {
  padding: 0;
  border: 0;
}*/